.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color:  #333;
    text-transform: none;
    border:  .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
}

.contact .row form .box:focus {
    border-color: var(--purble);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.contact  span{
    color: var(--purble);
    padding: 1rem 0;
    line-height: 1.5;
}