header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 3rem;
    color: #716361;
    font-weight: bolder;
}

header .logo span{
    color: var(--purble);
}

header .navbar a{
    font-size: 1.7rem;
    padding: 0 1.5rem;
    color: #716361;
}

header .navbar a:hover{
    color: var(--purble);
}

header .icons a{
    font-size: 2.5rem;
    color: #716361;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--purble);
}