:root{
    --purble:#766DA7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-rendering: capitalize;
    transition: .2s linear;
}

html{ 
    font-size: 62.5%; /* Define o tamanho da fonte padrão para o elemento <html> */
    scroll-behavior: smooth; /* comportamento do scroll */
    scroll-padding-top: 6rem; /* cabeçalho fixo */
    overflow-x: hidden; /* sem scroll na horizontal */
}

section{
    padding: 2rem 9%;

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--purble) ;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 3rem;
    color: #716361;
    font-weight: bolder;
}

header .logo span{
    color: var(--purble);
}

header .navbar a{
    font-size: 1.7rem;
    padding: 0 1.5rem;
    color: #716361;
}

header .navbar a:hover{
    color: var(--purble);
}

header .icons a{
    font-size: 2.5rem;
    color: #716361;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--purble);
}