<!-- aba produtos -->
<section class="produtos" id="produtos" *ngIf="listaProdutos.length">
    <h1 class="cabecalho">minhas coisinhas</h1>
    <div class="box-container">
        <div class="box" *ngFor="let produto of listaProdutos">
            <span class="nome">{{ produto.categoria }}</span>
            <div class="imagem">
                <img [src]="produto.imagem" [alt]="produto.nome">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-plus"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="conteudo">
                <h3>{{ produto.nome }}</h3>
            </div>
        </div>
    </div>
</section>