/* produtos */
.produtos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.produtos .box-container .box{
    flex: 1 1 30rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;

}
.produtos .box-container .box .nome{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    color: var(--purble);
    background: #e7e1df;
    z-index: 1;
    border-radius: .5rem;
}
.produtos .box-container .box .imagem{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.produtos .box-container .box .imagem img{
    height: 25rem;
}

.produtos .box-container .box:hover .imagem img{
    transform: scale(1.1) ;
}

.produtos .box-container .box .imagem .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.produtos .box-container .box:hover .imagem .icons{
    bottom: 0;
}

.produtos .box-container .box:hover .imagem .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #fff;
    color: var(--purble);
}

.produtos .box-container .box .conteudo{
    padding: 2rem;
    text-align: center;
}

.produtos .box-container .box .conteudo .h3{
    font-size: 2.5rem;
    color: #333;
}

.produtos .box-container .box .conteudo .h3{
    font-size: 2.5rem;
    color: #333;
}

.produtos span {
    color: var(--purble);
    padding: 1rem 0;
    line-height: 1.5;
}