:root {
    --purble:#766DA7;
    --altura-navbar: 8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{ 
    font-size: 62.5%; /* Define o tamanho da fonte padrão para o elemento <html> */
    scroll-behavior: smooth; /* comportamento do scroll */
    scroll-padding-top: 9rem; /* cabeçalho fixo */
    overflow-x: hidden; /* sem scroll na horizontal */
}

section {
    padding: 2rem 9%;

}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--purble) ;
}

.cabecalho {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 5rem;
    color: var(--purble);
    padding: 1rem;
    margin: 2rem;
    background: rgba(242, 242, 242, .5);
}

@media (max-width:768px) {
    
    html {
        font-size: 55%;
    }

    
}